<div data-v="hello" class="hello">
	<div class="leftCol">
		<h3>Welcome to <a href="http://www.onecommunityranch.org" 
			target="_blank">One Community</a>'s ACE Application</h3>
		<p>
			We use this application mainly as a way to track our contribution to One Community.  It is also used for internal communication, organizing teams, and reporting progress.
		</p>


	</div>
	<div class="rightCol">
		<div class="alert alert-info">
			This application is open source!  Get the source code here:
			<br/>
			<span class="btn githubBtn">OCACE GITHUB</span>
		</div>
		<div class="alert alert-success">
			Play with the application in the sandbox: <br/>
			<span class="btn sandboxBtn">OCACE SANDBOX</span>
		</div>
		<div class="well">
			Pioneers enter here: <br/>
			<span class="btn loginBtn">LOGIN</span>
		</div>
	</div>
</div>