<div data-v="me" class="me">
	<div class="leftCol">
		<div class="userTop">
			<div class="section">
				<h3>ACE HOURS</h3>
				<div class="summary">
					<span class="tangibleHours"><span data-prop="tangible"></span> <span class="hrs">tan</span></span>
					<div class="progress"><div class="bar tanBar" style="width:0%"></div><div class="bar totBar" style="width:0%"></div></div>
					<span class="totalHours"><span data-prop="total"></span> <span class="hrs">tot</span></span>
				</div>
				<span class="btn btn-success viewTasks aceBtn">View/Add ACE Tasks</span>
			</div>
			<div class="section">
				<h3>WEEKLY CALLS</h3>
				<div class="calls">
					<span class="dow badge badge-info">Monday</span>
					<div class="call">
						Pioneer Team Call<br/>
						6pm<br/>
						712-432-3100<br/> 
						Enter Code: 993669
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rightCol">
		<h3>DETAILS</h3>
		<div class="detailsDisp">
			<div class="row">
				<label>Username: </label><div data-prop="username" class="val"></div>
			</div>
			<div class="row">
				<label>First Name: </label><div data-prop="fName" class="val"></div>
			</div>
			<div class="row">
				<label>Last Name: </label><div data-prop="lName" class="val"></div>
			</div>
			<div class="row">
				<label>Email: </label><div data-prop="email" class="val"></div>
			</div>
			<div class="row">
				<label>Phone: </label><div data-prop="phoneDisp" class="val"></div>
			</div>
			
			<div class="row">
				<span class="btn btnEdit">Edit</span>
			</div>
		</div>
		<div class="detailsEdit">
			<div class="row">
				<label>Username: </label><div data-prop="username" class="val"></div>
			</div>
			<div class="row">
				<label>First Name: </label><input data-prop="fName" class="val"/>
			</div>
			<div class="row">
				<label>Last Name: </label><input data-prop="lName" class="val"/>
			</div>
			<div class="row">
				<label>Email: </label><input data-prop="email" class="val"/>
			</div>
			<div class="row">
				<label>Phone: </label><input data-prop="phone" class="val"/>
			</div>
			<div class="row">
				<span class="btn btnDone">Done</span>
			</div>
		</div>
		<h3>PASSWORD</h3>
		<div>
			<div class="row">
				<label>Password: </label><span class="btn btnChangePass">Change Password</span><input type="password" data-prop="password" class="changePassForm" class="val"/>
			</div>

		</div>
	</div>
</div>