<div data-v="weekRow" class="weekRow">
	<div class="weekOf label">WEEK OF <span data-prop="weekOf"></span></div>
	<div class="summary">
		<div class="tangibleHours"><span data-prop="tangibleHours">0</span> tan</div>
		<div class="progress"><div class="bar tanBar" style="width:0%"></div><div class="bar totBar" style="width:0%"></div></div>
		<div class="totalHours"><span data-prop="totalHours">0</span> tot</div>
	</div>
	<div data-place="taskRow"></div>
	<div class="options">
		<div class="addTaskButton btn">+ Add Task</div>
		<div data-place="addTask"></div>
	</div>
</div>