<ul data-v="topNav" class="topNav">
	<li><a href="#!home/me">ME</a></li>
	<li><a href="#!home/ace">ACE</a></li>
	<li><a href="#!home/reports">REPORTS</a></li>
	<li><a href="#!home/chat">CHAT (<span data-prop="chatAlerts">0</span>)</a></li>
	<li><a href="#!home/setup" class="setup">SETUP</a></li>
	<li><a href="https://docs.google.com/spreadsheet/ccc?key=0Ag3XgAuDet9JdHBiMzJ2ODJkUlEyU0dTZlk5bF9lTVE#gid=0" target="_blank">PORTAL</a></li>
	<!--
	<li><a href="javascript://under construction">PROJECTS</a></li>
	<li><a href="javascript://under construction">WELCOME</a></li>
	<li><a href="javascript://under construction">OC TEAM</a></li>
	-->
</ul>