<div data-v="pioneerRowNew" class="pioneerRow setupRow row">
	<input type="text" data-prop="username" class="username" placeholder="Username"/>
	<input type="text" data-prop="fName" class="fName" placeholder="First Name"/>
	<input type="text" data-prop="lName" class="lName" placeholder="Last Name"/>
	<input type="text" data-prop="phone" class="phone" placeholder="Phone"/>
	<input type="text" data-prop="email" class="email" placeholder="Email"/>
	<input class="password" type="text" data-prop="password" placeholder="Password"/>
</div>