<div data-v="pioneerRow" class="setupRow pioneerRow row">
	<input type="text" data-prop="username" class="username" placeholder="Username"/>
	<input type="text" data-prop="fName" class="fName" placeholder="First Name"/>
	<input type="text" data-prop="lName" class="lName" placeholder="Last Name"/>
	<input type="text" data-prop="phone" class="phone" placeholder="Phone"/>
	<input type="text" data-prop="email" class="email" placeholder="Email"/>
	<span class="resetPassword btn">Reset Password</span><input class="password" type="text" data-prop="password" placeholder="Password"/>
	<span class="btn remove">Remove</span>
</div>