<div data-v="user" class="user">
	<div class="leftCol">
		<div class="userTop">
			<h3 data-prop="name" class="name"></h3>
			<strong>THIS WEEK'S HOURS</strong>
			<div class="summary">
				<span class="tangibleHours"><span data-prop="tangible"></span> <span class="hrs">tan</span></span>
				<div class="progress"><div class="bar tanBar" style="width:0%"></div><div class="bar totBar" style="width:0%"></div></div>
				<span class="totalHours"><span data-prop="total"></span> <span class="hrs">tot</span></span>
			</div>
			<span class="btn btn-success viewTasks">View ACE Tasks</span>
			
		</div>
	</div>
	<div class="rightCol">
		<h3>DETAILS</h3>
		<div class="detailsDisp">
			<div class="row">
				<label>Username: </label><div data-prop="username" class="val"></div>
			</div>
			<div class="row">
				<label>First Name: </label><div data-prop="fName" class="val"></div>
			</div>
			<div class="row">
				<label>Last Name: </label><div data-prop="lName" class="val"></div>
			</div>
			<div class="row">
				<label>Email: </label><div data-prop="email" class="val"></div>
			</div>
			<div class="row">
				<label>Phone: </label><div data-prop="phoneDisp" class="val"></div>
			</div>
		</div>
	</div>
</div>